body{
    background-color: gold;
}

.style-wrapper{
    width:100%;

}

.box-wrapper{
    position:relative;
    width:5px;
}

.style-container{

    position:absolute;
    top:400px;
    left:30px;
    padding:100px;
    background: #ececec;
    width:120px;
    border-radius: 10px;
    outline-color:black;
    outline-width:1px;
    outline-style:ridge;
}

.text-container{
    
    position: absolute;
    background-color: white;
    padding:20px;
    top:12px;
    width:273px;
    left:3.5px;
    border-radius: 5px;
    outline-color:black;
    outline-width:.5px;
    outline-style:ridge;
}
#no-text{
    position:absolute;
    top:10px;
    left:6px;
}
.button-container{
    position:absolute;
    width:70px;
    padding:10px;
}
#yes-button{
    position:absolute;
    left:75px;
}
#no-button{
    position:absolute;
    left:175px;
}
@media (max-width:600px){
    .style-wrapper{
        width:100%;
    
    } 
  .style-container{
    width:100%;
  }
  .box-wrapper{
    width:30%;
  }
  .text-container{
    width:84%;
  }
  .button-container{
    width:15%;
  }
  #no-text{
    width:100%;
    font-size:15px;
  }
}